*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}

.main-container{
    background-color: #f9fbfe;
    min-height: 100vh;
    padding: 2rem;
}
.main-heading{
    text-align: center;
    font-weight: 500;
    margin-bottom: .7rem;
}
.heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: .5rem
}
.task-text{
    font-weight: 400;
}
.input-card{
    margin: 1rem 0 1rem 0;
    height: 38px;
    padding: 0 0 0 .6rem;
    width: 90%;
    border-radius: .2rem;
    border: 1px solid rgb(206, 202, 202);
}
.button{
    height: 34px;
    width: 70px;
    color: #ffffff;
    background-color: #4c63b6;
    font-size: .8rem;
    border: 0px;
    border-radius: .2rem;
    display: block;
}
.user-input-container{
    margin-bottom: 2rem;
}
.task-card{
    margin: .8rem 0 .8rem 0;
}
.check-box{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}
.task-card{
    display: flex;
    align-items: center;
}
.user-task{
    background-color: #e6f6ff;
    height: 2.6rem;
    border-radius: .3rem;
    padding: 0 1rem 0 1rem;
    width: 75%;
    border-left: 5px solid #096f92;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task{
    font-size: .8rem;
}
.checked{
    text-decoration: line-through;
}


@media screen and (min-width: 730px){
    .sub-container{
        width: 50%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-card{
        width: 83%;
    }
}